<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VooDoo_GEN1_DataLogger.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <VooDoo_GEN1_DataLogger.My.MySettings>
            <setting name="EngCommPort" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="O2CommPort" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="displayView" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="switchingPoint" serializeAs="String">
                <value>11.2</value>
            </setting>
            <setting name="requiredCell" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="highCoolant" serializeAs="String">
                <value>230</value>
            </setting>
        </VooDoo_GEN1_DataLogger.My.MySettings>
    </userSettings>
</configuration>